apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubia
spec:
  template:
    metadata:
      name: kubia
      labels:
        app: kubia
    spec:
      containers:
      - image: sammyne/kubia:v2
        name: golang
